@charset "utf-8";

.navbar.sticky-top {
    margin-top: 50px;

    background: white;
    border-bottom: 1px solid #bbb;
}
.nav-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.sidebar {
    color: #767676;
    background-color: #2d2b32;
}